*.pyc
*~
\#*
scripts/pupil.js
node_modules
/pupil.html
.\#*
cgi-bin/TENNIS
._bus.html
._embedmap.html
._history.html
._index.html
._membershipform2014-15.html
._membershipform2015-16.html
._membershipform2016-17.html
._membershipform2017-18.html
._newtennis.css
._printform.html
._skeleton.html
._style2.css
._template.html
._tennis.html
._turn-taking-queueing-and-churn.html
TENNISDOCS.tar
history.html
membershipform2014-15.html
membershipform2015-16.html
membershipform2016-17.html
membershipform2017-18.html
newtennis.css
newtennis.html
printform.html
skeleton.html
style2.css
template.html
tennis.html
index.html
._PHOTOS
PHOTOS.tar
PHOTOS/
cgi-bin/addResult.py
cgi-bin/addnews.py
cgi-bin/attendance.py
cgi-bin/badminton.py
cgi-bin/btm.py
cgi-bin/bus.py
cgi-bin/buxtontennis.py
cgi-bin/calendar.py
cgi-bin/checkReady.py
cgi-bin/checkdb.py
cgi-bin/coaching.py
cgi-bin/contact.py
cgi-bin/contacts.py
cgi-bin/contactus.py
cgi-bin/dates.py
cgi-bin/day.py
cgi-bin/delete.py
cgi-bin/deletenews.py
cgi-bin/documents.py
cgi-bin/emails.py
cgi-bin/event.py
cgi-bin/findmembers.py
cgi-bin/forthcoming.py
cgi-bin/header.py
cgi-bin/hello.py
cgi-bin/history.py
cgi-bin/html.py
cgi-bin/html2py.py
cgi-bin/joinus.py
cgi-bin/juniorscontact.py
cgi-bin/ladder.py
cgi-bin/lhearts.py
cgi-bin/mail.py
cgi-bin/makeredirects.py
cgi-bin/maketables.py
cgi-bin/matches.py
cgi-bin/members.py
cgi-bin/membership.py
cgi-bin/menu.py
cgi-bin/news.py
cgi-bin/nocopies.py
cgi-bin/oldtennis.py
cgi-bin/pavilion.py
cgi-bin/playingtime.py
cgi-bin/policies.py
cgi-bin/projects.py
cgi-bin/results-14-04-2019.py
cgi-bin/results.py
cgi-bin/resultsGuidelines.py
cgi-bin/resultsdb.py
cgi-bin/retrievedata.py
cgi-bin/sdlta.py
cgi-bin/setcounters.py
cgi-bin/setup.py
cgi-bin/siever.py
cgi-bin/sql.py
cgi-bin/tennis.py
cgi-bin/testdata.py
cgi-bin/tooltip.js
cgi-bin/useful.py
cgi-bin/useless.py
cgi-bin/welcome.py
cgi-bin/welcome1.py
cgi-bin/xml.py
embedmap.html
script.js
tooltip.js