*.pyc
*~
\#*
scripts/pupil.js
node_modules
/pupil.html
.\#*
cgi-bin/TENNIS
._bus.html
._embedmap.html
._history.html
._index.html
._membershipform2014-15.html
._membershipform2015-16.html
._membershipform2016-17.html
._membershipform2017-18.html
._newtennis.css
._printform.html
._skeleton.html
._style2.css
._template.html
._tennis.html
._turn-taking-queueing-and-churn.html
TENNISDOCS.tar
history.html
membershipform2014-15.html
membershipform2015-16.html
membershipform2016-17.html
membershipform2017-18.html
newtennis.css
newtennis.html
printform.html
skeleton.html
style2.css
template.html
tennis.html
index.html