#titleBar {
    width: 1000px;
    clear: both;
    margin: auto;
}

#board {
    float: left;
}

.dice {
    display: inline-block;
    background-color: #ffff99;
    font-size: 95px;
    width: 120px;
    height: 120px;
    border: #dddd77 solid 5px;
    border-radius: 12px;
    text-align: center;
    margin: 4px;
    font-family: Arial;
}

#userInfo {
    float: right;
    width: 300px;
}

#timer {
    width: 100px;
    font-size: 25px;
    font-family: Arial;
    background-color: #ddddff;
    border: #333333 5px solid;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
}

#textBox {
    margin: 10px;
}

#userWords {
    display: block;
    background-color: #ffffbb;
    width: 133px;
    height: 400px;
    margin: 10px;
    overflow: auto;
}