#board {
    float: left;
}

@media screen and (max-width: 768px) {
    #board {
	width: 80%;
    }
}


.dice {
    width: 120px;
}

@media screen and (max-width: 768px) {
    .dice {
	width: 100%;
    }
}

#userInfo {
    float: left;
    width: 300px;
}

@media screen and (max-width: 768px) {
    #userinfo {
	width: 20%;
    }
}

#timer {
    width: 100px;
    font-size: 25px;
    font-family: Arial;
    background-color: #ddddff;
    border: #333333 5px solid;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    #timer {
	width: auto;
	font-size: 5vw;
	margin: 2px;
    }
}

@media screen and (max-width: 768px) {
    #enterWord {
	display: none;
    }
}

@media screen and (max-width: 768px) {
    #bigScreenInstructions {
	display: none;
    }
}

#userWords {
    display: block;
    background-color: #ffffbb;
    width: 133px;
    height: 400px;
    margin: 10px;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    #userWords {
	width: auto;
	margin: 4px;
	height: 80%;
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
    }
}

#activeWordBuildingArea {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #activeWordBuildingArea {
	display: none;
    }
}

#activeWordCell {
    width: 58%;
    text-align: center;
    vertical-align: middle;
    font-size: 8vw;
    color: #ff9900;
    background-color: #7a77e1;
    font-weight: bolder;
    border: white 3px solid;
    border-radius: 6px;
}

.activeWordButtonCell {
    width: 15%;
}

.activeWordButtonImage {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    #smallScreenInstructions {
	display: none;
    }
}

@media screen and (max-width: 768px) {
    #finishEarly {
        display: none;
    }
}