.objectContainer {
    float: left;
    margin: 3px;
    text-align: center;
    display: block;
    background-color: #222255;
    border: white 4px solid;
    border-radius: 6px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .objectContainer {
	width: 50%;
    }
}

.objectTable {
    float: right;
    margin: 3px;
}

.dice {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: #ffff99;
    border: #dddd77 solid 2px;
    border-radius: 3px;
    text-align: center;
    font-family: Arial;
}

.board {
    margin: auto;
}

.playerTable {
    margin: auto;
}

.playerContainer {
    float: left;
    margin: 3px;
    text-align: center;
    display: block;
    background-color: #222255;
    border: white 4px solid;
    border-radius: 6px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .playerContainer {
	width: 90%;
    }
}

.wordList {
    margin: auto;
}

.wordCell {
    color: #ddddff;
}

p {
    color: #ddddff;
}

.centerForegroundWide {
    width: 999px !important;
}