.objectContainer {
    float: left;
    margin: 3px;
    text-align: center;
    display: inline-block;
    background-color: #222255;
    border: white 4px solid;
    border-radius: 6px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .objectContainer {
	width: 50%;
    }
}

.objectTable {
    float: right;
    margin: 3px;
}

.miniDice {
    height: 20px;
    width: 20px;
}

#miniBoard {
    margin: auto;
}

.playerTable {
    margin: auto;
}

.playerContainer {
    float: left;
    margin: 3px;
    text-align: center;
    display: block;
    background-color: #222255;
    border: white 4px solid;
    border-radius: 6px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .playerContainer {
	width: 90%;
    }
}

.wordList {
    margin: auto;
}

.wordCell {
    color: #ddddff;
}

p {
    color: #ddddff;
}

.centreForegroundWide {
    overflow: auto;
}

.onlyMine {
    color: #ff9900;
}

#adoptMsg {
    color: #ddddff;
}

#playAgainButton {
    margin: auto;
    display: block;
}

h6 {
    color: #ff9900;
    text-align: center;
}